# Secrets - DO NOT COMMIT THIS FILE
# Copy to .env.secrets and fill in your actual values
# .env.secrets is gitignored

# Sepolia configurations
# RPC URL for deployment (with your API key)
RPC_URL=
OWNER_ADDRESS=
OPTIMISM_PORTAL=
INITIAL_FEE_RATE=50 # 50 bps = 0.5%
PROXY_ADMIN_ADDRESS=0x0000000000000000000000000000000000000000 # explicitly define it to ask for creating proxy_admin
PROXY_ADMIN_OWNER=