[package]
name = "client"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
alloy = { workspace = true }
alloy-provider = { workspace = true, features = ["reqwest", "reqwest-rustls-tls"] }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
async-trait.workspace = true
thiserror.workspace = true
tracing.workspace = true